<div>
    <h2 id="page-heading">
        <span jhiTranslate="gnomeServerApp.gnome.home.title">Gnomes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gnome" [routerLink]="['/gnome/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gnomeServerApp.gnome.home.createLabel">
            Create new Gnome
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gnomes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="gnomeServerApp.gnome.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="thumbnail"><span jhiTranslate="gnomeServerApp.gnome.thumbnail">Thumbnail</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weight"><span jhiTranslate="gnomeServerApp.gnome.weight">Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="height"><span jhiTranslate="gnomeServerApp.gnome.height">Height</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hair_color"><span jhiTranslate="gnomeServerApp.gnome.hair_color">Hair Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let gnome of gnomes ;trackBy: trackId">
                <td><a [routerLink]="['/gnome', gnome.id, 'view' ]">{{gnome.id}}</a></td>
                <td>{{gnome.name}}</td>
                <td>{{gnome.thumbnail}}</td>
                <td>{{gnome.weight}}</td>
                <td>{{gnome.height}}</td>
                <td>{{gnome.hair_color}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gnome', gnome.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gnome', gnome.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gnome/'+ gnome.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
